@import url('https://fonts.googleapis.com/css2?family=Federo&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans";
    font-weight: 400;
}

header{
    padding-top: 40px;
    margin-bottom: 60px;
}

.container{
    margin: 0 auto;
    max-width: 1110px;
}

ul{
    list-style: none;
}

.logo-wrapper{
    display: flex;
    align-items: center;
    gap: 30px;
}

.logo-wrapper img{
    cursor: pointer;
}

.header-list li a{
    font-size: 16px;
    color:#697390;
    transition: all 0.4s ease;

    &:hover{
        color:#000;
    }

    &:active{
        color:#697390;
    }
}

a{
    text-decoration: none;
}

.header{
    justify-content: space-between;
    display: flex;
}
.header-list{
    display: flex;
    gap: 40px;
}
/* ----------------------------------- */
.carusel-section{
    position: relative;
    padding-bottom: 84px;
}

.bestseller{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
color: rgb(58, 58, 58);
font-family: "Federo";
font-size: 40px;
font-weight: 400;
line-height: 50px;
letter-spacing: 2%;
text-align: left;
}

.carusel-section__left{
    color: #797979;
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 60px;
}

.site-section_carusel-right{
    color: #797979;
    position: absolute;
    top: 50%;
    bottom: 50%;
    right: 60px;
}

.carusel{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 100px;

}

.wrapper-2{
    font-family: "Federo", sans-serif;
}

.wrapper-2-item-h2{
    font-family: "Federo", sans-serif;
    font-weight: 400;
}


.wrapper-2_btn{
    transition: all 0.4s ease;
    cursor: pointer;
    padding: 12px 23px;
    display: flex;
    line-height: -100px;
    background-color: #434343;
    color: white;
    border:none;
    font-size: 16px;
}

.wrapper-2_btn:hover{
    background-color:rgba(67, 67, 67, 0.89);
}

.wrapper-2_btn:active{
    background-color: #434343;
}


.font-h2{
    color:#3A3A3A;
    font-family: "Federo";
    font-size: 50px;
    font-weight: 400;
    line-height: 70px;
    letter-spacing: 2%;
    margin-bottom: 30px;
}
/* ............................... */

.backgg{
    width: 895px;
    height: 497px;
    background: rgb(246, 246, 246);
    position: absolute;
    left:43%;
    bottom:-253px;
    z-index: -10;
}

.seller{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 50px;
}

.seller-2{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.card{
    position: relative;
    padding: 50px 20px;
    border: solid 1px #0000001A;
    background-color: #fff;
}

.card-text{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 240px;
}

.card__image{
    margin-bottom: 20px;
}

.button-wrapper{
    position: absolute;
    top: 150px;
    left: 250px;
    display:flex;
    flex-direction: column;
    gap: 5px;

}
.btn-primary{
    border: none;
    width: 27px;
    height: 27px;
    border: 1px solid #606060;
    background-color: #fff;
    margin-top: 5px;
    
}

.wrapper-info{
    position: absolute;
    top: 10px;
    right: 0;
    left: 194px;
    display:flex;
    flex-direction: column;
}
.wrapper-info .hot-text{
    padding: 4px 12px;
    background-color: #F29731;
    color: #fff;
}
.wrapper-info .discount{
    background-color: #9E0B0F;
    padding: 4px 12px;
    color: #fff;
    margin-top: 5px;
}